nav {
  background: linear-gradient(to top, #000000 0%, #161117 100%);
  border-bottom: 1px solid #4c4542;
  position: fixed !important;
  z-index: 10;
  width: 100%;
}
.header {
  width: 100%;
  height: 108px;
}
.container-fluid {
  width: 80% !important;
}
.logo {
  width: 150px;
}
.nav-link {
  color: #fff !important;
  font-size: 1em !important;
  text-transform: uppercase;
}
.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
  color: #eba18a !important;
}
.dropdown-item {
  font-size: 1em !important;
  text-transform: uppercase;
  color: #ffcaba !important;
  transition: 1s;
}
.dropdown-item:hover {
  background-color: transparent !important;
  color: #c89788 !important;
}
.dropdown-menu {
  background: rgba(22, 24, 44, 0.9) !important;
  color: #fff !important;
  border: 1px solid #4c4542 !important;
}
.dropdown-divider {
  border-top: 1px solid #4c4542 !important;
}
.navbar-toggler {
  line-height: 1;
  color: #eba18a !important;
  background-color: #eba18a !important;
  border: 1px solid #eba18a !important;
  border-radius: 0 !important;
}
.offcanvas {
  background-color: #2f2d30 !important;
}
.language {
  color: #e09a84;
  border: 1px solid #e09a84;
  border-radius: 50%;
  padding: 0px 10px;
  transition: 1s;
  margin-top: 0 !important;
  margin-left: 5px !important;
}
.language:hover {
  color: #ffffff;
  background: #a47060;
  border: 1px solid #a47060;
}
