.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #3f2f2a;
  margin: 0 0 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  background: #161117;
  border-color: #3f2f2a;
  color: #765d5d;
  border-radius: 5px 5px 0 0;
  width: 24%;
  text-align: center;
}

.react-tabs__tab--selected {
  background: #a46f5f;
  border-color: #a46f5f;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

@media screen and (max-width: 768px) {
  .react-tabs__tab {
    width: 49%;
    margin-bottom: 1%;
  }
}
@media screen and (max-width: 475px) {
  .react-tabs__tab {
    width: 100%;
    margin-bottom: 1%;
  }
}